/* Webfont: Merca-Thin */@font-face {
    font-family: 'MercaThin';
    src: url('Merca-Thin.woff2') format('woff2'), /* Modern Browsers */
         url('Merca-Thin.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

